
/* hide from ie mac AND WATCH OUT FOR SPACE BETWEEN progid: AND DXImageTransform.
MUST BE: progid:DXImageTransform
_NOT BE: progid: DXImageTransform
\*/

*html header {
	background: none;
	width: 100%;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/header_752.png", sizingMethod="crop");*/
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/header__964.png", sizingMethod="crop");
}
*html a#yag img, *html header h1 img, *html #alpacas_for_sale main aside img {
	filter: alpha(opacity=0);
}
*html a#yag {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/yag_logo_ie.png", sizingMethod="scale");
}
*html header h1 {
	margin: 0;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/ga_logo_ie.png", sizingMethod="crop");
}
*html #alpacas_for_sale main aside {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../images/for_sale.png", sizingMethod="scale");
}
*html #wrap footer, *html #wrap footer ul {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/grass_960.png", sizingMethod="crop");
}
*html #gallery #wrap footer, *html #gallery #wrap footer ul {
	filter: -;
	background: url("../assets/grass_960.png") 50% 100% no-repeat;
}

*html #welcome header {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="assets/header__964.png", sizingMethod="crop");
}

*html #welcome a#yag {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="assets/yag_logo_ie.png", sizingMethod="scale");
}
*html #welcome header h1 {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="assets/ga_logo_ie.png", sizingMethod="crop");
}

*html #welcome footer, *html #welcome footer ul {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="assets/grass_960.png", sizingMethod="crop");
}
